@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Prata&family=Roboto:wght@300&display=swap");
body {
  font-family: "Roboto";
}
/* Reusable */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row .group {
  flex: 1;
}
.flex-row .group button {
  margin: 10px;
}
/* Header */
header,
.site-header {
  display: absolute;
  background-color: black;
  padding-inline-start: 8px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.site-header {
  background-color: white;
  color: black;
}
.site-product .user a:hover,
.site-header .user a:hover,
.home .login a:hover,
.modal-content button:hover,
.register a:hover {
  background-color: black;
}

.site-header .user a,
.site-header .nav-site-icon,
.site-product .user a,
.home .login a {
  background-color: rgb(91, 1, 133);
  border-radius: 10px;
}
.site-header .user a,
.modal-content a {
  background-color: white;
  color: black;
}
.site-header .user a,
#login-modal,
.home .login a,
.site-footer,
.site-product #addToCart {
  background-color: rgb(91, 1, 133);
  color: white;
}
#login-modal {
  box-shadow: 5px 5px 5px 2px rgb(201, 201, 197);
}
#login-modal a,
.site-footer a,
.register a:hover {
  margin: 10px;
  color: white;
}

h1,
h2 {
  font-family: "Marcellus";
  font-weight: bolder;
}

header img {
  width: 150px;
}

header img:hover,
nav h3:hover,
.user a:hover,
.nav-icon img:hover {
  background-color: rgb(76, 88, 39);
  border-radius: 10px;
  font-weight: bolder;
}

.user a,
nav img,
.home .login a,
#landing-banner h2,
#landing-banner p {
  padding: 15px;
}
#landing-banner h2 {
  background-color: rgba(212, 200, 219, 0.39);
}

.home img {
  width: 100%;
}
nav,
.flex {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  position: relative;
}
nav a,
.user a,
.home .login a,
.site-footer a {
  text-decoration: none;
  color: white;
}

.flex,
.register a {
  padding: 2px;
}
.logo {
  flex: 7;
  margin-left: 15px;
}

.logo h1 {
  text-shadow: -1px 0 #f3eff5, 0 1px #f3eff5, 2px 0#F3EFF5, 0 -1px #f3eff5;
  font-size: xx-large;
}

.user {
  margin-right: 10px;
  margin-top: 50px;
}

#menu li {
  text-decoration: none;
  width: 100%;
  padding: 10px;
  margin: 2px;
}

#menu a {
  color: white;
  text-decoration: none;
}

.nav-icon,
.nav-site-icon,
.site-footer,
.landing-page {
  margin-top: 30px;
}
.nav-site-icon,
.site-footer {
  padding: 20px;
}

.nav-icon img {
  width: 26px;
}
.user {
  flex: 1;
}
#menu a {
  color: white;
  flex: 2;
}
#menu li {
  list-style: none;
}

#menu li:hover {
  background-color: rgb(76, 88, 39);
  border-radius: 3px;
}

.modal-content button,
.landing-group {
  margin: 15px;
}
.nav-icon,
.modal-content button:hover {
  background-color: 454955;
  cursor: pointer;
}
ul#menu {
  margin-top: 0px;
  text-align: right;
  position: absolute;
  bottom: -160px;
  background-color: black;
  right: 0px;
  padding: 20px;
  border-radius: 5px;
}
/* Products */

.site-product .user a {
  color: white;
}

.site-product .user p {
  margin-top: 25px;
  font-size: 14px;
}

/* Products*/
.product,
.site-product {
  display: flex;
  flex-direction: row;
  margin-top: 34px;
}
.product a,
.site-product a,
.site-product button,
.product button {
  color: rgb(61, 60, 60);
  cursor: pointer;
}

.product h2 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}
.product p {
  font-size: 15px;
}
.product img {
  width: 100%;
  height: auto;
}
.product li {
  background-color: rgba(10, 10, 10, 0.493);
}
.product {
  list-style: none;
}

.product p {
  font-weight: bolder;
  padding: auto;
}

.product p {
  font-weight: bolder;
}
.group {
  flex: 1;
  justify-content: center;
  margin-top: 30px;
}
.group2 {
  flex: 2;
}

/* The Modal (background) */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(10, 10, 10, 0.493);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content input,
.modal-content textarea,
.register a {
  padding: 10px;
  border: 2px solid rgb(76, 88, 39);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.register a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Table */
table {
  margin-left: auto;
  margin-right: auto;
  font-size: 11.5px;
}

/* Dashboard */
#banner-site .site {
  background-color: white;
  padding: 3px;
  border-radius: 4px;
  font-family: "Marcellus";
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
#banner-site .site:hover,
.banner-buttons button:hover,
#all-resources button[type="click"]:hover,
#products-user #c-p:hover,
#all-resources li a:hover,
.product .group .controls button[type="click"]:hover,
.modal-content button {
  background-color: rgb(76, 88, 39);
  color: white;
}

#fieldset,
.site-product #addToCart,
.modal-content button {
  font-family: "Marcellus";
  border-radius: 4px;
  padding: 10px;
}
.site-product #addToCart,
.modal-content button,
.register a {
  text-transform: uppercase;
}

#banner-site fieldset {
  padding: 20px;
  margin: 50px;
  background-color: rgba(235, 250, 192, 0.267);
}
#banner-site {
  background-image: url("./media/banner-your-site.png");
  animation: move 3s;
  background-size: cover;
}
#landing-banner {
  background-image: url("./media/1.png");
  animation: move 3s;
  background-size: cover;
}
#landing-banner2 {
  background-image: url("./media/3.png");
  background-size: cover;
}
#landing-banner {
  margin-top: 60px;
}

#banner-site h2,
.landing-group h2 {
  background-color: black;
  font-weight: lighter;
  padding: 5px;
  border-radius: 4px;
  color: white;
}
@keyframes move {
  0% {
    transform: translate(10px, 10px) rotate(0deg);
  }
  20% {
    transform: translate(-10px, -20px) rotate(0deg);
  }

  100% {
    transform: translate(10px, -20px) rotate(0deg);
  }
}

#banner-site li,
#all-resources li {
  list-style: none;
  padding: 10px;
}
#all-resources h3 {
  font-size: 30px;
  background-color: black;
  border-radius: 4px;
  color: white;
}
#all-resources h3 a:hover {
  background-color: purple;
  padding: 6px;
  border-radius: 4px;
}

#banner-site button {
  margin: 10px;
}
#banner-site a {
  font-size: 30px;
}

.banner-buttons button,
#all-resources button[type="click"],
#products-user #c-p,
.product .group .controls button[type="click"] {
  font-family: "Marcellus";
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
  background-color: black;
  width: 100px;
  color: white;
  border-radius: 4px;
  padding: 10px;
  border: 2px solid rgb(238, 255, 186);
}

#all-resources button[type="click"] {
  width: 150px;
  margin-bottom: 20px;
}

#products-user #c-p {
  width: 200px;
}
#all-resources button[type="click"] a,
#products-user #c-p a,
.product .group .controls a {
  text-decoration: none;
  color: white;
}
#banner-site .banner-buttons a {
  font-size: 15px;
  color: white;
  text-decoration: none;
}

#banner-site .banner-buttons,
.product .group .controls button[type="click"] {
  margin-top: 20px;
}

#site-r-o h2,
#products-user #h2,
#all-resources h2,
#orders h2 {
  background-color: black;
  border-radius: 3px;
  color: white;
  padding: 1.5%;
}

#all-resources li a {
  text-align: center;
  text-decoration: none;
  color: white;
}
#all-resources img {
  width: 100%;
  border-radius: 3px;
}

.resourceSiteBtn {
  position: relative;
  float: right;
}

ul#flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
ul#flex-container > * {
  flex: 1 1;
}
ul#flex-container li {
  list-style: none;
}

/* Footer */
footer {
  margin-top: 20px;
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
}

footer a:hover {
  color: #72b01d;
}
footer img {
  width: 120px;
}

footer img:hover,
.site-product #addToCart:hover {
  background-color: rgb(76, 88, 39);
  border-radius: 10px;
}

main .dashboard {
  margin-top: 100px;
}
@media all and (min-width: 1000px) {
  header {
    padding-inline-start: 40px;
  }
  .flex {
    flex-direction: row;
  }
  table {
    font-size: 20px;
  }
  .product h2 {
    font-size: 20px;
  }
  .product p {
    font-size: 15px;
  }
  ul#flex-container {
    flex-direction: row;
  }
  #all-resources img {
    width: 90%;
    border-radius: 3px;
  }
  .landing-group {
    margin: 100px;
  }
}
